/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

a {
  color: #0066cc;
}

.timo {
  width: 700px;
  height: 900px;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Styles */

header {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header h1 {
  margin: 0;
  padding: 20px;
  font-size: 24px;
}

nav {
  float: right;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 20px;
}

nav ul li a:hover {
  background-color: #e6e6e6;
}

/* Main Styles */

main {
  margin-top: 100px;
  padding: 40px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: normal;
}

section p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.5;
}

.project {
  display: inline-block;
  width: calc(50% - 20px);
  margin-right: 40px;
  vertical-align: top;
}

.project img {
  margin-bottom: 20px;
}

.project h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.project p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.project a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #0066cc;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.project a:hover {
  background-color: #0059b3;
}

section ul {
  margin-left: 20px;
  font-size: 16px;
  line-height: 1.5;
}

/* Footer Styles */

footer {
  background-color: #ffffff;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

footer h2 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: normal;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 10px;
}

footer li:last-child {
  margin-right: 0;
}

.wind{
  height: 20px;
  width: 20px;
}
